/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;

}
.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}


#slick-slide-control0{
    width: 18px;
    height: 10px;
    font-size: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
li.slick-active #slick-slide-control0{
    width: 30px;
    height: 10px;
    font-size: 0;
    border-radius: 5px;
    border: none;
    background-color: #FFC62B;

}

li.slick-active #slick-slide-control1{
    width: 30px;
    height: 10px;
    font-size: 0;
    border-radius: 5px;
    border: none;
    background-color: #FFC62B;

}

#slick-slide-control2{
    width: 18px;
    height: 10px;
    font-size: 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
 li.slick-active #slick-slide-control2{
    width: 30px;
    height: 10px;
    font-size: 0;
    border-radius: 5px;
    border: none;
    background-color: #FFC62B;

}

#slick-slide-control3{
    width: 18px;
    height: 10px;
    font-size: 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
li.slick-active #slick-slide-control3{
    width: 30px;
    height: 10px;
    font-size: 0;
    border-radius: 5px;
    border: none;
    background-color: #FFC62B;


}
.slick-dots{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 27px;
}

.slick-dots li {
    margin: 0 5px 0 5px ;
}
.slick-dots li button{
    width: 10px;
    height: 10px ;
    font-size: 0;
    border-radius: 100%;
    border: 1px solid #D5D5D6;
    background-color: #fff;
    padding: 0;

}
.slick-dots li.slick-active button{
    background-color: black;
}
.presentation{
    width: 30px;
    height: 6px;

}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media (max-width: 500px) {
    div.reviews__slider.slick-initialized.slick-slider{
        margin-right: 0;
        margin-left: 0;
    }
    
}