/* line 1, common/_mixes.scss */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

@media (max-width: 320px) {
  /* line 8, common/_mixes.scss */
  .container {
    width: 320px;
  }
}
/* line 1, common/_button.scss */
.button-burger {
  display: none;
}

/* line 4, common/_button.scss */
.button {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 11px 27px 11px 27px;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 549px) {
  /* line 20, common/_button.scss */
  .button-burger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin: 12px 0 12px 0;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  /* line 30, common/_button.scss */
  .button-burger:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: -10px;
    left: 0;
    border: none;
  }
  /* line 40, common/_button.scss */
  .button-burger:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 10px;
    left: 0;
  }
  /* line 49, common/_button.scss */
  .button-burger__active {
    z-index: 2;
    top: 64px;
    right: 20px;
    position: fixed;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  /* line 57, common/_button.scss */
  .button-burger__active:before {
    position: fixed;
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  /* line 63, common/_button.scss */
  .button-burger__active:after {
    display: none;
  }
}
/* line 1, common/_common.scss */
body {
  font-family: 'Raleway',sans-serif;
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
}

/* line 10, common/_common.scss */
ol, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 15, common/_common.scss */
blockquote, figure, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0;
}

/* line 18, common/_common.scss */
*::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 20, common/_common.scss */
*::after *, ::before * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 1, blocks/_header.scss */
.header {
  width: 100%;
  background-image: url("/src/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
}
/* line 8, blocks/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 14, blocks/_header.scss */
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
/* line 20, blocks/_header.scss */
.header__picture {
  margin-right: 17px;
}
/* line 23, blocks/_header.scss */
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 26, blocks/_header.scss */
.header__menu-item {
  margin: 0 17px 0 17px;
  font-size: 16px;
  font-weight: 300;
}
/* line 30, blocks/_header.scss */
.header__menu-item:hover {
  color: #fff;
}
/* line 34, blocks/_header.scss */
.header__menu-link {
  color: #707070;
  text-decoration: none;
}
/* line 37, blocks/_header.scss */
.header__menu-link:hover {
  color: #fff;
}
/* line 42, blocks/_header.scss */
.header__login {
  margin-right: 20px;
}
/* line 44, blocks/_header.scss */
.header__login:hover {
  color: #111;
  background-color: #fff;
}
/* line 50, blocks/_header.scss */
.header__get-started:hover {
  color: #111;
  background-color: #fff;
}
/* line 54, blocks/_header.scss */
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 114px;
}
/* line 59, blocks/_header.scss */
.header__content-start {
  padding: 20px 56px;
  border-radius: 30px;
}
/* line 62, blocks/_header.scss */
.header__content-start:hover {
  color: #111;
  background-color: #fff;
}
/* line 67, blocks/_header.scss */
.header__content-link {
  color: #707070;
  font-size: 14px;
  font-weight: 300;
  margin-top: 28px;
}
/* line 74, blocks/_header.scss */
.header__text {
  width: 76%;
  color: #fff;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 60px;
}

/* line 82, blocks/_header.scss */
.title {
  font-size: 62px;
  font-weight: 300;
  line-height: 72px;
  width: 70%;
  text-align: center;
  margin-bottom: 95px;
}

/* line 90, blocks/_header.scss */
.text {
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
}

/* line 95, blocks/_header.scss */
.scroll {
  margin-bottom: 90px;
  scroll-behavior: smooth;
}

@media (max-width: 821px) {
  /* line 105, blocks/_header.scss */
  .header__navbar {
    width: 100%;
  }
  /* line 108, blocks/_header.scss */
  .header__authorization {
    margin-top: 20px;
    width: 100%;
    text-align: right;
  }
}
@media (max-width: 768px) {
  /* line 118, blocks/_header.scss */
  .header__title {
    width: 100%;
  }
  /* line 121, blocks/_header.scss */
  .header__text {
    width: 80%;
  }
}
@media (max-width: 549px) {
  /* line 129, blocks/_header.scss */
  .header__navbar {
    width: 200px;
  }
  /* line 132, blocks/_header.scss */
  .header__login {
    margin-left: 50px;
  }
  /* line 135, blocks/_header.scss */
  .header__title {
    font-size: 28px;
    margin-bottom: 50px;
    line-height: 50px;
  }
  /* line 140, blocks/_header.scss */
  .header__text {
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
  }
  /* line 147, blocks/_header.scss */
  .header__menu {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  /* line 150, blocks/_header.scss */
  .header__menu-active {
    position: fixed;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    top: 0;
    background-color: #000900;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 181px;
    padding-bottom: 335px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
  }
  /* line 171, blocks/_header.scss */
  .header__content {
    margin-top: 50px;
  }
  /* line 173, blocks/_header.scss */
  .header__content-start {
    padding: 20px 25px;
  }
}
@media (max-width: 336px) {
  /* line 181, blocks/_header.scss */
  .header__login {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  /* line 187, blocks/_header.scss */
  .header {
    width: 360px;
  }
}
/* line 1, blocks/_main.scss */
.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 25px 0;
}
/* line 8, blocks/_main.scss */
.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 12, blocks/_main.scss */
.main__item {
  margin: 0 20px 0 20px;
}
/* line 16, blocks/_main.scss */
.main__link {
  color: #27282C;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
/* line 22, blocks/_main.scss */
.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 26, blocks/_main.scss */
.main__form {
  border: 1px solid #707070;
  padding: 0 8px 0 8px;
  border-radius: 25px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 34, blocks/_main.scss */
.main__input {
  border: none;
  padding: 0 70px 0 26px;
}
/* line 38, blocks/_main.scss */
.main__lable {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  margin-right: 23px;
}
/* line 44, blocks/_main.scss */
.main__button {
  background-color: #111;
  color: #fff;
}

@media (max-width: 924px) {
  /* line 52, blocks/_main.scss */
  .main__item {
    margin: 0;
    width: 50%;
    text-align: center;
    margin-top: 15px;
  }
}
@media (max-width: 924px) {
  /* line 63, blocks/_main.scss */
  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 65, blocks/_main.scss */
  .main__block {
    margin-top: 15px;
  }
}
@media (max-width: 520px) {
  /* line 72, blocks/_main.scss */
  .main__lable {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 0;
  }
  /* line 79, blocks/_main.scss */
  .main__input {
    padding: 0 0 0 25px;
  }
  /* line 82, blocks/_main.scss */
  .main__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* line 1, blocks/_rapture.scss */
.rapture {
  background-color: #fff;
  border-top: 1px solid #E8E8E9;
  border-bottom: 1px solid #E8E8E9;
  padding-bottom: 156px;
}
/* line 6, blocks/_rapture.scss */
.rapture__subtitle {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 107px;
}
/* line 12, blocks/_rapture.scss */
.rapture__text {
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #27282C;
  width: 48%;
  text-align: center;
  margin: 0 auto;
  margin-top: 46px;
}
/* line 23, blocks/_rapture.scss */
.rapture__group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 29, blocks/_rapture.scss */
.rapture__payment {
  width: 470px;
  color: #3D3F4C;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 15px 0 15px;
}
/* line 37, blocks/_rapture.scss */
.rapture__act {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #27282C;
  text-transform: uppercase;
}

/* line 46, blocks/_rapture.scss */
.subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: #27282C;
}

@media (max-width: 1039px) {
  /* line 53, blocks/_rapture.scss */
  .rapture {
    padding-bottom: 70px;
  }
  /* line 55, blocks/_rapture.scss */
  .rapture__payment:last-child {
    margin-top: 30px;
  }
  /* line 58, blocks/_rapture.scss */
  .rapture__act {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  /* line 65, blocks/_rapture.scss */
  .rapture__subtitle {
    margin-top: 60px;
    font-size: 28px;
    width: 90%;
  }
  /* line 70, blocks/_rapture.scss */
  .rapture__text {
    width: 70%;
  }
}
@media (max-width: 768px) {
  /* line 77, blocks/_rapture.scss */
  .rapture__subtitle {
    margin-top: 60px;
    font-size: 22px;
    line-height: 35px;
    width: 100%;
  }
  /* line 83, blocks/_rapture.scss */
  .rapture__text {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  /* line 88, blocks/_rapture.scss */
  .rapture__payment {
    font-size: 16px;
    line-height: 24px;
  }
}
/* line 1, blocks/_slider.scss */
.rapture__slider {
  width: 754px;
  margin: 0 auto;
  margin-top: 55px;
}

/* line 6, blocks/_slider.scss */
.slick-prev {
  position: absolute;
  border: none;
  background-color: #fff;
  top: 41%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -87px;
}

/* line 14, blocks/_slider.scss */
.slick-next {
  position: absolute;
  border: none;
  background-color: #fff;
  top: 41%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -87px;
}

/* line 22, blocks/_slider.scss */
.slick-prev-new.slick-arrow {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: -1;
  opacity: 0;
}

/* line 29, blocks/_slider.scss */
.slick-next-new.slick-arrow {
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: -1;
  opacity: 0;
}

@media (max-width: 950px) {
  /* line 38, blocks/_slider.scss */
  .rapture__slider {
    width: 654px;
  }

  /* line 41, blocks/_slider.scss */
  .slick-prev {
    top: 41%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -87px;
  }

  /* line 46, blocks/_slider.scss */
  .slick-next {
    top: 41%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -87px;
  }
}
@media (max-width: 850px) {
  /* line 53, blocks/_slider.scss */
  .rapture__slider {
    width: 554px;
  }

  /* line 56, blocks/_slider.scss */
  .slick-prev {
    top: 41%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -87px;
  }

  /* line 61, blocks/_slider.scss */
  .slick-next {
    top: 41%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -87px;
  }
}
@media (max-width: 850px) {
  /* line 69, blocks/_slider.scss */
  .rapture__slider {
    width: 454px;
  }

  /* line 72, blocks/_slider.scss */
  .slick-prev {
    left: -40px;
  }

  /* line 75, blocks/_slider.scss */
  .slick-next {
    right: -40px;
  }
}
@media (max-width: 768px) {
  /* line 80, blocks/_slider.scss */
  .rapture__slider {
    margin-bottom: 50px;
  }
}
@media (max-width: 570px) {
  /* line 85, blocks/_slider.scss */
  .rapture__slider {
    width: 354px;
  }
}
@media (max-width: 450px) {
  /* line 90, blocks/_slider.scss */
  .rapture__slider {
    width: 250px;
  }
}
@media (max-width: 350px) {
  /* line 95, blocks/_slider.scss */
  .rapture__slider {
    width: 200px;
  }
}
/* line 1, blocks/_components.scss */
.components {
  background-color: #fff;
}
/* line 3, blocks/_components.scss */
.components__component {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #27282C;
  display: block;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
/* line 14, blocks/_components.scss */
.components__subtitle {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
/* line 19, blocks/_components.scss */
.components__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 148px;
}
/* line 26, blocks/_components.scss */
.components__item {
  border-radius: 10px;
  border: 1px solid #E4E4E5;
  margin: 0 15px 0 15px;
}
/* line 30, blocks/_components.scss */
.components__item:hover {
  -webkit-box-shadow: 0 0 46px -27px #000000;
          box-shadow: 0 0 46px -27px #000000;
}
/* line 35, blocks/_components.scss */
.components__article {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 41, blocks/_components.scss */
.components__get {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #27282C;
  margin-top: 40px;
  text-align: center;
}
/* line 49, blocks/_components.scss */
.components__order {
  position: relative;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #27282C;
  padding-top: 340px;
  text-align: center;
}
/* line 57, blocks/_components.scss */
.components__order:before {
  position: absolute;
  content: '';
  background-image: url("/src/img/mac.png");
  width: 203px;
  height: 203px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* line 70, blocks/_components.scss */
.components__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #3D3F4C;
  width: 311px;
  text-align: center;
  margin-top: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 80, blocks/_components.scss */
.components__button {
  color: #1A1B1B;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  background-color: #85E84D;
  padding: 17px 52px;
  border-radius: 25px;
  border: none;
  margin-bottom: 53px;
  margin-top: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* line 94, blocks/_components.scss */
.components__link {
  color: #1B1B1B;
  letter-spacing: 3px;
  margin-top: 50px;
  text-transform: uppercase;
  margin-bottom: 70px;
  text-align: center;
}

@media (max-width: 1043px) {
  /* line 105, blocks/_components.scss */
  .components__item:last-child {
    margin-top: 30px;
  }
  /* line 108, blocks/_components.scss */
  .components__component {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  /* line 117, blocks/_components.scss */
  .components__subtitle {
    width: 100%;
    font-size: 22px;
  }
  /* line 121, blocks/_components.scss */
  .components__component {
    font-size: 12px;
  }
  /* line 124, blocks/_components.scss */
  .components__list {
    margin-bottom: 70px;
  }
}
@media (max-width: 540px) {
  /* line 131, blocks/_components.scss */
  .components__item {
    width: 100%;
  }
  /* line 134, blocks/_components.scss */
  .components__img {
    width: 100%;
  }
  /* line 137, blocks/_components.scss */
  .components__article {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 141, blocks/_components.scss */
  .components__text {
    width: 100%;
    padding: 0 10px;
  }
  /* line 146, blocks/_components.scss */
  .components__order {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  /* line 151, blocks/_components.scss */
  .components__get {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  /* line 156, blocks/_components.scss */
  .components__button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* line 1, blocks/_testimonials.scss */
.testimonials {
  background-color: #1A1B1B;
  padding-top: 115px;
  padding-bottom: 111px;
}
/* line 5, blocks/_testimonials.scss */
.testimonials__test {
  color: #fff;
  margin-top: 0;
}
/* line 9, blocks/_testimonials.scss */
.testimonials__subtitle {
  color: #fff;
  width: 66%;
  text-align: center;
  margin: 0 auto;
}
/* line 15, blocks/_testimonials.scss */
.testimonials__list {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 21, blocks/_testimonials.scss */
.testimonials__item {
  width: 367px;
  text-align: center;
}
/* line 25, blocks/_testimonials.scss */
.testimonials__item:nth-child(2) {
  margin: 0 20px 0 20px;
}
/* line 28, blocks/_testimonials.scss */
.testimonials__text {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding: 38px;
  border: 1px solid #272828;
  border-radius: 10px;
  margin-bottom: 15px;
}
/* line 38, blocks/_testimonials.scss */
.testimonials__text:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: -39px;
  margin-left: -15px;
  border-width: 15px 15px 25px 15px;
  border-style: solid;
  border-color: #1A1B1B transparent transparent transparent;
}
/* line 52, blocks/_testimonials.scss */
.testimonials__text .puz:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: -41px;
  margin-left: -15px;
  border-width: 15px 15px 25px 15px;
  border-style: solid;
  border-color: #272828 transparent transparent transparent;
}
/* line 65, blocks/_testimonials.scss */
.testimonials__span {
  display: block;
  margin-top: 30px;
}
/* line 69, blocks/_testimonials.scss */
.testimonials__name-cole {
  position: relative;
  display: block;
  padding-top: 88px;
  margin-top: 35px;
}
/* line 74, blocks/_testimonials.scss */
.testimonials__name-cole:before {
  position: absolute;
  content: '';
  background-image: url("/src/img/name1.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* line 87, blocks/_testimonials.scss */
.testimonials__name-gabri {
  position: relative;
  display: block;
  padding-top: 88px;
  margin-top: 35px;
}
/* line 92, blocks/_testimonials.scss */
.testimonials__name-gabri:before {
  position: absolute;
  content: '';
  background-image: url("/src/img/name2.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* line 105, blocks/_testimonials.scss */
.testimonials__name-nat {
  position: relative;
  display: block;
  padding-top: 88px;
  margin-top: 35px;
}
/* line 110, blocks/_testimonials.scss */
.testimonials__name-nat:before {
  position: absolute;
  content: '';
  background-image: url("/src/img/name3.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* line 123, blocks/_testimonials.scss */
.testimonials__prof {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #707070;
  line-height: 22px;
  margin-top: 10px;
  display: block;
}

@media (max-width: 1180px) {
  /* line 136, blocks/_testimonials.scss */
  .testimonials__item:nth-child(3) {
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  /* line 144, blocks/_testimonials.scss */
  .testimonials__item:nth-child(2) {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 793px) {
  /* line 152, blocks/_testimonials.scss */
  .testimonials__item:nth-child(2) {
    margin: 20px 0 0 20px;
  }
}
@media (max-width: 768px) {
  /* line 158, blocks/_testimonials.scss */
  .testimonials {
    padding-top: 70px;
  }
  /* line 160, blocks/_testimonials.scss */
  .testimonials__subtitle {
    width: 100%;
    font-size: 22px;
  }
}
@media (max-width: 700px) {
  /* line 169, blocks/_testimonials.scss */
  .testimonials__item:nth-child(2) {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 400px) {
  /* line 177, blocks/_testimonials.scss */
  .testimonials__text {
    padding: 15px;
  }
}
@media (max-width: 320px) {
  /* line 184, blocks/_testimonials.scss */
  .testimonials {
    width: 360px;
  }
}
/* line 1, blocks/_transform.scss */
.transform {
  padding-top: 100px;
}
/* line 3, blocks/_transform.scss */
.transform__slider {
  width: 400px;
}
/* line 6, blocks/_transform.scss */
.transform__beautiful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 12, blocks/_transform.scss */
.transform__subtitle {
  width: 670px;
  font-size: 42px;
  line-height: 52px;
}
/* line 19, blocks/_transform.scss */
.transform__span {
  width: 100%;
  text-align: left;
  margin-top: 35px;
}
/* line 24, blocks/_transform.scss */
.transform__button {
  height: 40px;
  background-color: #85E84D;
  color: #1B1B1B;
  border: none;
  margin-top: 22px;
  letter-spacing: 1px;
  border-radius: 25px;
}
/* line 33, blocks/_transform.scss */
.transform__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 38, blocks/_transform.scss */
.transform__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 350px;
  margin-right: 20px;
}
/* line 45, blocks/_transform.scss */
.transform__item {
  display: inline-block;
  width: 371px;
  border: 1px solid #fff;
  margin: 5px 0 5px 0;
  border-radius: 10px;
}
/* line 51, blocks/_transform.scss */
.transform__item:hover {
  border: 1px solid #F5F5F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 56, blocks/_transform.scss */
.transform__text {
  color: #1B1B1B;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  padding: 39px;
}
/* line 64, blocks/_transform.scss */
.transform__designation {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}
/* line 70, blocks/_transform.scss */
.transform__line {
  margin-top: 80px;
  margin-bottom: 105px;
}

@media (max-width: 809px) {
  /* line 79, blocks/_transform.scss */
  .transform__slider {
    margin-top: 10px;
  }
  /* line 82, blocks/_transform.scss */
  .transform__line {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  /* line 88, blocks/_transform.scss */
  .transform {
    padding-top: 70px;
  }
  /* line 90, blocks/_transform.scss */
  .transform__subtitle {
    font-size: 22px;
    text-align: center;
  }
  /* line 94, blocks/_transform.scss */
  .transform__span {
    text-align: center;
  }
}
@media (max-width: 450px) {
  /* line 102, blocks/_transform.scss */
  .transform__slider {
    width: 100%;
  }
  /* line 105, blocks/_transform.scss */
  .transform__list {
    margin-right: 0;
  }
  /* line 108, blocks/_transform.scss */
  .transform__item {
    width: 100%;
  }
  /* line 111, blocks/_transform.scss */
  .transform__text {
    padding: 15px;
  }
  /* line 114, blocks/_transform.scss */
  .transform__subtitle {
    line-height: 36px;
  }
}
/* line 1, blocks/_all-power.scss */
.all-power {
  background-color: #1A1B1B;
  border-radius: 30px;
  padding-top: 80px;
  margin-top: 104px;
  text-align: center;
  padding-bottom: 88px;
  -webkit-box-shadow: 0 0 71px -35px #000000;
          box-shadow: 0 0 71px -35px #000000;
}
/* line 9, blocks/_all-power.scss */
.all-power__subtitle {
  color: #fff;
  text-align: center;
  margin-bottom: 19px;
  font-size: 52px;
}
/* line 15, blocks/_all-power.scss */
.all-power__span {
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 82px;
}
/* line 23, blocks/_all-power.scss */
.all-power__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 28, blocks/_all-power.scss */
.all-power__item {
  position: relative;
  width: 38%;
  padding-left: 86px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 34px;
  text-align: left;
}
/* line 36, blocks/_all-power.scss */
.all-power__item:nth-child(1):before {
  position: absolute;
  content: '';
  background-image: url("/src/img/Icon0.png");
  width: 56px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  top: 0;
}
/* line 47, blocks/_all-power.scss */
.all-power__item:nth-child(2):before {
  position: absolute;
  content: '';
  background-image: url("/src/img/Icon1.png");
  width: 44px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  top: 0;
}
/* line 58, blocks/_all-power.scss */
.all-power__item:nth-child(3):before {
  position: absolute;
  content: '';
  background-image: url("/src/img/Icon2.png");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  top: 0;
}
/* line 69, blocks/_all-power.scss */
.all-power__item:nth-child(4):before {
  position: absolute;
  content: '';
  background-image: url("/src/img/Icon3.png");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  top: 0;
}
/* line 80, blocks/_all-power.scss */
.all-power__designation {
  display: block;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
}
/* line 89, blocks/_all-power.scss */
.all-power__text {
  font-size: 18px;
  font-weight: 300;
  color: #8B8D92;
  line-height: 28px;
}
/* line 95, blocks/_all-power.scss */
.all-power__looking {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
/* line 101, blocks/_all-power.scss */
.all-power__button {
  margin: 0 auto;
  height: 50px;
  background-color: #85E84D;
  border-radius: 25px;
  color: #1B1B1B;
  text-align: center;
  letter-spacing: 2px;
  padding-right: 46px;
  padding-left: 46px;
  font-size: 12px;
}

@media (max-width: 843px) {
  /* line 116, blocks/_all-power.scss */
  .all-power__item {
    width: 306px;
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 843px) {
  /* line 125, blocks/_all-power.scss */
  .all-power__item {
    width: 306px;
    margin: 0 10px 34px 10px;
  }
}
@media (max-width: 768px) {
  /* line 135, blocks/_all-power.scss */
  .all-power__subtitle {
    font-size: 30px;
    margin: 0 10px 19px 10px;
  }
}
@media (max-width: 500px) {
  /* line 143, blocks/_all-power.scss */
  .all-power__subtitle {
    font-size: 24px;
  }
  /* line 146, blocks/_all-power.scss */
  .all-power__span {
    font-size: 16px;
  }
  /* line 149, blocks/_all-power.scss */
  .all-power__text {
    font-size: 16px;
  }
}
/* line 1, blocks/_awesome.scss */
.awesome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  padding-bottom: 116px;
}
/* line 7, blocks/_awesome.scss */
.awesome__subtitle {
  font-size: 42px;
  text-align: center;
}
/* line 11, blocks/_awesome.scss */
.awesome__span {
  font-size: 18px;
  color: #3D3F4C;
  line-height: 28px;
  width: 570px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 50px;
}
/* line 21, blocks/_awesome.scss */
.awesome__button {
  background-color: #1B1B1B;
  height: 60px;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  /* line 30, blocks/_awesome.scss */
  .awesome {
    padding: 70px 0;
  }
  /* line 32, blocks/_awesome.scss */
  .awesome__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 628px) {
  /* line 39, blocks/_awesome.scss */
  .awesome__span {
    width: 100%;
  }
}
@media (max-width: 500px) {
  /* line 46, blocks/_awesome.scss */
  .awesome__span {
    font-size: 16px;
  }
  /* line 49, blocks/_awesome.scss */
  .awesome__subtitle {
    font-size: 22px;
  }
}
/* line 1, blocks/_trade.scss */
.trade {
  background-image: url("/src/img/Group2.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 112px;
}
/* line 9, blocks/_trade.scss */
.trade__shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 14, blocks/_trade.scss */
.trade__group {
  width: 470px;
}
/* line 17, blocks/_trade.scss */
.trade__span {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #8A8783;
  letter-spacing: 1px;
  margin-bottom: 19px;
}
/* line 25, blocks/_trade.scss */
.trade__subtitle {
  color: #fff;
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 46px;
  line-height: 52px;
}
/* line 32, blocks/_trade.scss */
.trade__button {
  height: 50px;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #55504F;
  letter-spacing: 2px;
  padding-right: 42px;
  padding-left: 42px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 42, blocks/_trade.scss */
.trade__button:hover {
  background-color: #fff;
  color: #111;
}

@media (max-width: 979px) {
  /* line 50, blocks/_trade.scss */
  .trade__shops {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 53, blocks/_trade.scss */
  .trade__group {
    text-align: center;
  }
  /* line 56, blocks/_trade.scss */
  .trade__group:last-child {
    margin-top: 50px;
    border-top: 1px solid;
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  /* line 65, blocks/_trade.scss */
  .trade {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /* line 68, blocks/_trade.scss */
  .trade__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  /* line 76, blocks/_trade.scss */
  .trade__group {
    width: 100%;
  }
  /* line 79, blocks/_trade.scss */
  .trade__subtitle {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  /* line 87, blocks/_trade.scss */
  .trade {
    width: 360px;
  }
}
/* line 1, blocks/_footer.scss */
.footer {
  background-color: #1A1B1B;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 34px;
}
/* line 6, blocks/_footer.scss */
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
  padding: 40px 0 40px 0;
}
/* line 12, blocks/_footer.scss */
.footer__menu-item {
  margin: 0 5px 0 5px;
}
/* line 15, blocks/_footer.scss */
.footer__menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
/* line 22, blocks/_footer.scss */
.footer__wrapper {
  border-bottom: 1px solid #3B3C3C;
  border-top: 1px solid #3B3C3C;
  padding-top: 60px;
  padding-bottom: 106px;
}
/* line 28, blocks/_footer.scss */
.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 32, blocks/_footer.scss */
.footer__group-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
}
/* line 38, blocks/_footer.scss */
.footer__group-item {
  width: 200px;
  line-height: 40px;
}
/* line 42, blocks/_footer.scss */
.footer__group-item:first-child {
  width: 400px;
}
/* line 45, blocks/_footer.scss */
.footer__group-link {
  color: #8C8E92;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 52, blocks/_footer.scss */
.footer__group-link:hover {
  color: #fff;
}
/* line 56, blocks/_footer.scss */
.footer__group-name {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 40px;
}
/* line 66, blocks/_footer.scss */
.footer__group-last {
  width: 200px;
  line-height: 40px;
}
/* line 70, blocks/_footer.scss */
.footer__group-social {
  width: 130px;
}
/* line 75, blocks/_footer.scss */
.footer__social-block {
  margin-top: 30px;
}
/* line 78, blocks/_footer.scss */
.footer__social-link {
  margin-right: 28px;
}
/* line 81, blocks/_footer.scss */
.footer__social-link:last-child {
  margin-right: 0;
}
/* line 85, blocks/_footer.scss */
.footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 34px;
}
/* line 91, blocks/_footer.scss */
.footer__bottom-item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
/* line 96, blocks/_footer.scss */
.footer__bottom-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 100, blocks/_footer.scss */
.footer__bottom-item {
  font-size: 14px;
  margin: 0 10px;
}
/* line 104, blocks/_footer.scss */
.footer__bottom-img {
  margin-top: 5px;
}
/* line 107, blocks/_footer.scss */
.footer__bottom-link {
  margin-left: 5px;
  color: #fff;
}

@media (max-width: 1039px) {
  /* line 115, blocks/_footer.scss */
  .footer__group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 117, blocks/_footer.scss */
  .footer__group-last {
    line-height: 25px;
  }
  /* line 120, blocks/_footer.scss */
  .footer__group-item {
    line-height: 25px;
  }
}
@media (max-width: 893px) {
  /* line 129, blocks/_footer.scss */
  .footer__bottom-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 132, blocks/_footer.scss */
  .footer__bottom-item:last-child {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  /* line 140, blocks/_footer.scss */
  .footer__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  /* line 146, blocks/_footer.scss */
  .footer__group-list {
    width: 300px;
  }
  /* line 149, blocks/_footer.scss */
  .footer__group-item {
    width: 150px;
  }
  /* line 152, blocks/_footer.scss */
  .footer__group-last {
    width: 150px;
  }
}
@media (max-width: 606px) {
  /* line 161, blocks/_footer.scss */
  .footer__bottom-item:nth-child(2) {
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  /* line 169, blocks/_footer.scss */
  .footer__group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 171, blocks/_footer.scss */
  .footer__group-list {
    width: 280px;
  }
  /* line 174, blocks/_footer.scss */
  .footer__group-item {
    width: 140px;
  }
  /* line 177, blocks/_footer.scss */
  .footer__group-last {
    width: 140px;
  }
  /* line 180, blocks/_footer.scss */
  .footer__group-social {
    width: 140px;
  }
  /* line 183, blocks/_footer.scss */
  .footer__group-link {
    font-size: 12px;
  }
  /* line 190, blocks/_footer.scss */
  .footer__bottom-item:last-child {
    font-size: 14px;
  }
  /* line 193, blocks/_footer.scss */
  .footer__bottom-item {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  /* line 200, blocks/_footer.scss */
  .footer {
    width: 360px;
  }
}

/*# sourceMappingURL=style.css.map */