/* line 1, common/_mixes.scss */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

/* line 1, common/_button.scss */
.button-burger {
  display: none;
}

/* line 4, common/_button.scss */
.button {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 11px 27px 11px 27px;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 1, common/_common.scss */
body {
  font-family: 'Raleway',sans-serif;
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
}

/* line 10, common/_common.scss */
ol, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 15, common/_common.scss */
blockquote, figure, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0;
}

/* line 18, common/_common.scss */
*::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 20, common/_common.scss */
*::after *, ::before * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 1, blocks/_header.scss */
.header {
  width: 100%;
  background-image: url("/src/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
}
/* line 8, blocks/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 14, blocks/_header.scss */
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 18, blocks/_header.scss */
.header__picture {
  margin-right: 17px;
}
/* line 21, blocks/_header.scss */
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 24, blocks/_header.scss */
.header__menu-item {
  margin: 0 17px 0 17px;
  font-size: 16px;
  font-weight: 300;
}
/* line 28, blocks/_header.scss */
.header__menu-item:hover {
  color: #fff;
}
/* line 32, blocks/_header.scss */
.header__menu-link {
  color: #707070;
  text-decoration: none;
}
/* line 35, blocks/_header.scss */
.header__menu-link:hover {
  color: #fff;
}
/* line 40, blocks/_header.scss */
.header__login {
  margin-right: 20px;
}
/* line 42, blocks/_header.scss */
.header__login:hover {
  color: #111;
  background-color: #fff;
}
/* line 48, blocks/_header.scss */
.header__get-started:hover {
  color: #111;
  background-color: #fff;
}
/* line 52, blocks/_header.scss */
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 114px;
}
/* line 57, blocks/_header.scss */
.header__content-start {
  padding: 20px 56px;
  border-radius: 30px;
}
/* line 60, blocks/_header.scss */
.header__content-start:hover {
  color: #111;
  background-color: #fff;
}
/* line 65, blocks/_header.scss */
.header__content-link {
  color: #707070;
  font-size: 14px;
  font-weight: 300;
  margin-top: 28px;
}
/* line 72, blocks/_header.scss */
.header__subtitle {
  width: 770px;
  color: #fff;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 60px;
}

/* line 80, blocks/_header.scss */
.title {
  font-size: 62px;
  font-weight: 300;
  line-height: 72px;
  width: 770px;
  text-align: center;
  margin-bottom: 95px;
}

/* line 88, blocks/_header.scss */
.subtitle {
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
}

/* line 93, blocks/_header.scss */
.scroll {
  margin-bottom: 90px;
  scroll-behavior: smooth;
}

/* line 1, blocks/_main.scss */
.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 25px 0;
}
/* line 7, blocks/_main.scss */
.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 11, blocks/_main.scss */
.main__item {
  margin: 0 20px 0 20px;
}
/* line 14, blocks/_main.scss */
.main__link {
  color: #27282C;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
/* line 20, blocks/_main.scss */
.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 24, blocks/_main.scss */
.main__form {
  border: 1px solid #707070;
  padding: 7px 8px 7px 8px;
  border-radius: 25px;
}
/* line 29, blocks/_main.scss */
.main__input {
  border: none;
  padding: 0 70px 0 26px;
}
/* line 33, blocks/_main.scss */
.main__lable {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  margin-right: 23px;
}
/* line 39, blocks/_main.scss */
.main__button {
  background-color: #111;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */