.button-burger{
 display: none;
}
.button{
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 11px 27px 11px 27px;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}


@media (max-width:549px) {
  .button-burger{
    display:inline-block;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin: 12px 0 12px 0;
    cursor: pointer;
    transition: 0.3s;
    &:before{
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: #fff;
      top: -10px;
      left: 0;
      border: none;
    }
    &:after{
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: #fff;
      top: 10px;
      left: 0;
    }
    &__active {
      z-index: 2;
      top: 64px ;
      right: 20px;
      position: fixed;
      transform: rotate(-45deg);
      transition: 0.3s;
    }
    &__active:before {
      position: fixed;
      top: 0;
      transform: rotate(90deg);
    }

    &__active:after {
      display: none;
    }

  }


}