.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
 margin: 25px 0 25px 0;
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    margin: 0 20px 0 20px;

  }
  &__link{
    color: #27282C;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
  &__block{
    display: flex;
    align-items: center;
  }
  &__form{
    border: 1px solid #707070;
    padding: 0 8px 0 8px;
    border-radius: 25px;
    height: 52px;
    display: flex;
    align-items: center;
  }
  &__input{
    border: none;
    padding: 0 70px 0 26px;
  }
  &__lable{
    color: #111;
    font-size: 14px;
    font-weight: 500;
    margin-right: 23px;
  }
  &__button{
    background-color: #111;
    color: #fff;
  }

}
@media (max-width: 924px) {
  .main{
    &__item{
      margin:0;
      width: 50%;
      text-align: center;
      margin-top: 15px;

    }
  }

}
@media (max-width: 924px) {
  .main{
    justify-content: center;
    &__block{
      margin-top: 15px;
    }
  }
}
@media (max-width: 764px) {
  .main{
    &__block{
      margin-top: 35px;
    }
  }
}
@media (max-width: 520px) {
  .main{
    &__lable{
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      margin-right: 0;
    }
    &__input{
      padding: 0 0 0 25px;
    }
    &__block{
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

}
